<span class="text-muted"> is </span>

&nbsp;

<select name="ftr-value.<%- inputIndex %>" class="form-control input-sm">
    <% if ('undefined' === typeof values.value || null === values.value || '' === values.value) { %>
    <option value="" selected="selected">Yes or No</option>
    <option value="0">No</option>
    <option value="1">Yes</option>
    <% } else if (1 === parseInt(values.value, 10)) { %>
    <option value="">Yes or No</option>
    <option value="0">No</option>
    <option value="1" selected="selected">Yes</option>
    <% } else { %>
    <option value="">Yes or No</option>
    <option value="0" selected="selected">No</option>
    <option value="1">Yes</option>
    <% } %>
</select>
