<%
var options = {
    'is-less-than': 'is less than',
    'is':           'is',
    'is-more-than': 'is more than',
    'is-between':   'is between'
};
%>

<select name="ftr-comp.<%- inputIndex %>" class="form-control input-sm">
    <% _.each(options, function (option, key) { %>

    <% if (values.comp === key) { %>
    <option value="<%- key %>" selected="selected"><%- option %></option>
    <% } else { %>
    <option value="<%- key %>"><%- option %></option>
    <% } %>

    <% }); %>
</select>

<span class="filter-numeric-inputs">
    <input class="filter-operand1 form-control input-sm" name="ftr-operand1.<%- inputIndex %>" step="any" type="number"
        value="<%- values.operand1 %>" />

    <span class="filter-numeric-operand2-wrapper">
        <span class="text-muted">&nbsp; and &nbsp;</span>
        <input class="filter-operand2 form-control input-sm" name="ftr-operand2.<%- inputIndex %>" step="any"
            type="number" value="<%- values.operand2 %>" />
    </span>
</span>

