<%
var options = {
    'contains':         'contains',
    'does-not-contain': 'does not contain',
    'starts-with':      'starts with',
    'ends-with':        'ends with'
};
%>

<select name="ftr-comp.<%- inputIndex %>" class="form-control input-sm">
    <% _.each(options, function (option, key) { %>

    <% if (values.comp === key) { %>
    <option value="<%- key %>" selected="selected"><%- option %></options>
    <% } else { %>
    <option value="<%- key %>"><%- option %></options>
    <% } %>

    <% }); %>
</select>

<input name="ftr-value.<%- inputIndex %>" type="text" class="filter-value form-control input-sm" value="<%- values.value %>" />
