body {
    padding-bottom: 75px;
}

.bulk-action-check-all {
    position: relative;
    left: 8px;
    top: -15px;
}

.bulk-action-panel {
    border-bottom: none;
    bottom: 0;
    display: none;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.bulk-action-panel.in {
    display: block;
}

.bulk-action-check-all-alert {
    display: none;
    padding-bottom: 10px;
}

.bulk-action-wrapper {
    display: inline-block;
    padding: 0 15px;
}
