.input-file-upload-form {
    display: none;
}

.input-file .alert {
    padding-bottom: 6px;
    padding-top: 6px;
}

.input-file .btn-group-justified {
    margin-top: 5px;
    width: 160px;
}

.input-file .progress {
    width: 200px;
    height: 8px;
}

.input-file .progress-text {
    position: relative;
    top: -15px;
}

.input-file {
    padding-bottom: 20px;
    position: relative;
}

.input-file .input-file-status-ui {
    position: absolute;
    left: 140px;
    top: 0;
}
